doctype html
html(lang="en")
  head
    title HomeAutomation - Dashboard
    meta(name='viewport', content='width=device-width')
    meta(name="viewport", content="initial-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/css/styles.css')
  body
    .mobile-dropdown
      span.close-menu Close
      .tile.menu
        a(href="/")
          img(src='/images/menu-dashboard.svg')
          | Dashboard
      .tile.menu
        a(href="/settings")
          img(src='/images/settings.svg')
          | Settings
