include partials/head.pug
.wrapper
  include partials/topbar.pug
  .content-wrapper
    include partials/sidebar.pug
    .content
      h2 Error - 404
      p It looks like you've stumbled on a page that isn't there. Please go back and try again.
include partials/footer.pug
