include partials/head.pug
.wrapper
  include partials/topbar.pug
  .content-wrapper
    include partials/sidebar.pug
    .content
      if rooms.length
        each room, i in rooms
          a.tile(href='/rooms/' + room.slug)
            img(src=room.icon).
            .title #{room.name}
      else
        p No rooms have been added yet
include partials/footer.pug
