include partials/head.pug
.wrapper
  include partials/topbar.pug
  .content-wrapper
    include partials/sidebar.pug
    .content
      each room, i in rooms
        a.tile(href='/rooms/' + room.slug)
          img(src=room.icon).
          .title #{room.name}
include partials/footer.pug
