include partials/head.pug
.wrapper
  include partials/topbar.pug
  .content-wrapper
    include partials/sidebar.pug
    .content
      h2 Add Node
      .input-wrapper
        label Node Name
        input(type="text", placeholder="Node Name", id="nodeName")
      .input-wrapper
        label Node Type
        select(id="nodeType")
          option(value="socket") Socket
          option(value="dimmer") Light - Dimmer
          option(value="light") Light - On/Off
      .input-wrapper
        label Node Location
        select(id="nodeLocation")
          each room, i in rooms
            option(value=room.slug) #{room.name}
      .input-wrapper
        input(type="submit", value="Add Node", id="addNode")
include partials/footer.pug
