include partials/head.pug
.wrapper
  include partials/topbar.pug
  .content-wrapper
    include partials/sidebar.pug
    .content
      h2 Sockets
      each socket, i in sockets
        .tile-horizontal(data-nodeid=socket.node_id)
          img(src='/images/plug.svg')
          .name #{socket.name}
          if socket.value
            .toggle-wrapper
              .toggle
          else
            .toggle-wrapper.off
              .toggle
include partials/footer.pug
