include partials/head.pug
.wrapper
  include partials/topbar.pug
  .content-wrapper
    include partials/sidebar.pug
    .content
      h2 Sockets
      if sockets.length
        each socket, i in sockets
          .tile-horizontal(data-nodeid=socket.node_id)
            img(src='/images/plug.svg')
            .name #{socket.name}
            if socket.value
              .toggle-wrapper
                .toggle
            else
              .toggle-wrapper.off
                .toggle
      else
        p There are no sockets added for this room. Why not add one in the settings?
include partials/footer.pug
