doctype html
html(lang="en")
  head
    title HomeAutomation - Edit Room
    link(rel='stylesheet', href='/css/style.css')
  body
    .wrapper
      include topbar.pug
      .content-wrapper
        include sidebar.pug
        .content
          h2 Edit Room
          .input-wrapper
            label Room Name
            input(type="text", placeholder="Room Name", id="roomName" value=roomName)
          .input-wrapper
            label Room Slug
            input(type="text", placeholder="Room Slug", id="roomSlug" value=roomSlug)
          .input-wrapper
            label Room Icon
            input(type="text", placeholder="Room Icon", id="roomIcon" value=roomIcon)
            input(type="hidden" id="roomSlugOld" value=roomSlug)
          .input-wrapper
            input(type="submit", value="Update Room", id="updateRoom")

  script(src='https://code.jquery.com/jquery-3.1.0.min.js', type='text/javascript')
  script(src='/js/app.js', type='text/javascript')
