include partials/head.pug
.wrapper
  include partials/topbar.pug
  .content-wrapper
    include partials/sidebar.pug
    .content
      h2 Rooms
      if rooms.length
        each room, i in rooms
          .tile-horizontal(data-roomid=room.slug)
            img(src=room.icon)
            .name #{room.name}
            img(src='/images/garbage.svg', class='delete', class='room-delete')
            a(href="/settings/rooms/edit/" + room.slug)
              img(src='/images/edit.svg', class='delete', class='room-edit')
      else
        p No rooms have been added yet
      .input-wrapper
        a.button-green(href="/settings/rooms/add") Add Room
include partials/footer.pug
