include partials/head.pug
.wrapper
  include partials/topbar.pug
  .content-wrapper
    include partials/sidebar.pug
    .content
      h2 Edit Room
      .input-wrapper
        label Room Name
        input(type="text", placeholder="Room Name", id="roomName" value=roomName)
      .input-wrapper
        label Room Slug
        input(type="text", placeholder="Room Slug", id="roomSlug" value=roomSlug)
      .input-wrapper
        label Room Icon
        input(type="text", placeholder="Room Icon", id="roomIcon" value=roomIcon)
        input(type="hidden" id="roomSlugOld" value=roomSlug)
      .input-wrapper
        input(type="submit", value="Update Room", id="updateRoom")
include partials/footer.pug
