include partials/head.pug
.wrapper
  include partials/topbar.pug
  .content-wrapper
    include partials/sidebar.pug
    .content
      h2 Add Room
      .input-wrapper
        label Room Name
        input(type="text", placeholder="Room Name", id="roomName")
      .input-wrapper
        label Room Slug
        input(type="text", placeholder="Room Slug", id="roomSlug")
      .input-wrapper
        label Room Icon
        input(type="text", placeholder="Room Icon", id="roomIcon")
      .input-wrapper
        input(type="submit", value="Add Node", id="addRoom")
include partials/footer.pug
