.sidebar
  .top-icons
    if page == 'dashboard'
      a.icon.active(href="/")
        img(src='/images/menu-dashboard.svg')
    else
      a.icon(href="/")
        img(src='/images/menu-dashboard.svg')
  .bottom-icons
    if page == 'settings'
      a.icon.active(href="/settings")
        img(src='/images/settings.svg')
    else
      a.icon(href="/settings")
        img(src='/images/settings.svg')
